[build]
  command = "echo 'No build required'"
  functions = "netlify/functions"
  publish = "."

[dev]
  functions = "netlify/functions"
  publish = "."

[build.environment]
  MONGODB_URI = "your_mongodb_uri_here"
  ADMIN_KEY = "32015labmath@2026"

[[redirects]]
  from = "/"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 404